<!doctype html>
<html lang="">
{%  load static %}
  <head>
    <title>Al-Netek</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>


<body  style=background-image:url("https://www.gannett-cdn.com/-mm-/9e1f6e2ee20f44aa1f3be4f71e9f3e52b6ae2c7e/c=0-110-2121-1303/local/-/media/2019/12/04/USATODAY/usatsports/streaming-video-banner.jpg?width=2121&height=1193&fit=crop&format=pjpg&auto=webp")>

   <h2 style="background: white"  align="center">
             Welcome to Al-Netek!

<br><br>

         <a style="background-color: white" href="{% url 'index' %}"> Home  </a>&nbsp;&nbsp
         <a style="background-color: white" href="{% url 'Rankings' %}">  Rankings </a>&nbsp;&nbsp
         <a  style="background-color: white" href="{% url 'Query_Results' %}">  Query Results  </a>&nbsp
         <a  style="background-color: white" href="{% url 'Records_Management' %}">  Records Management </a>&nbsp
</h2>



      <h2 style="background-color: white" align="center">Welcome to Al-Netek  Website</h2><br><br>


  </body>
</html>
